@font-face {
    font-family: 'dubielplainregular';
    src: url('Dubiel-webfont.eot');
    src: url('Dubiel-webfont.eot?#iefix') format('embedded-opentype'),
         url('Dubiel-webfont.woff2') format('woff2'),
         url('Dubiel-webfont.woff') format('woff'),
         url('Dubiel-webfont.ttf') format('truetype'),
         url('Dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  min-height: 98vh;
  color: white;
  background: #222;
  border: solid 5px white;
  box-shadow: -.2rem -.2rem 0 #F22613, .2rem .2rem 0 #00FFFF;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

header {
  text-align: center;
}

nav {
  max-width: 60rem;
  margin: 0 auto;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.nav-link {
  display: inline;
  padding: 1rem;
  background: #222;
  padding: 2rem;
}

.nav-link:hover {
  text-shadow: -.12rem -.12rem 0 #F22613, .12rem .12rem 0 #00FFFF;
}

a {
  color: white;
  text-decoration: none;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60rem;
  margin: 0 auto;
}

#title {
  font-family: 'dubielplainregular';
  text-align: center;
  font-size: 10rem;
  margin-top: 8rem;
  margin-bottom: -1rem;
  text-shadow: -.2rem -.2rem 0 #F22613, .2rem .2rem 0 #00FFFF;
}

#title-under {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10rem;
  text-shadow: -.12rem -.12rem 0 #F22613, .12rem .12rem 0 #00FFFF;
}

#profile {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#profile-p {
  text-indent: 2rem;
}

#profile-head {
  text-align: center;
}

#profile-head {
  font-size: 3rem;
  text-shadow: -.15rem -.15rem 0 #F22613, .15rem .15rem 0 #00FFFF;
}

#id-photo {
  height: 25rem;
  width: 19rem;
  border-radius: 3rem;
  filter: grayscale();
  margin-left: 3rem;
}

#info {
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-shadow: -.12rem -.12rem 0 #F22613, .12rem .12rem 0 #00FFFF;
}

#history-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#education {
  margin-right: 2rem;
}

#employment {
  margin-left: 2rem;
}

#projects-head {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  text-shadow: -.15rem -.15rem 0 #F22613, .15rem .15rem 0 #00FFFF;
}

#projects-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 2rem;
  max-width: 50rem;
  max-height: 40rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.projects-link {
  height: 20rem;
  width: 25rem;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 25rem;
  filter: grayscale();
}

.project-image:hover {
  filter: none;
  transform: scale(1.1);
}

#contact-head {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
  text-shadow: -.15rem -.15rem 0 #F22613, .15rem .15rem 0 #00FFFF;
}

#contact-list {
  text-align: center;
}

.contact-list-item {
  padding-bottom: 2rem;
}

.contact-link:hover {
  text-shadow: -.12rem -.12rem 0 #F22613, .12rem .12rem 0 #00FFFF;
}

@media (max-width: 800px) {
  #nav-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}

@media (max-width: 1100px) {
  #title {
    font-size: 5rem;
  }

  #profile-head, #projects-head, #contact-head {
    font-size: 2rem;
  }

  #profile {
    flex-direction: column;
    align-items: center;
  }

  #profile-p {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p, li {
    font-size: 1.3rem;
  }

  #id-photo {
    height: 23rem;
    width: 17rem;
  }

  #id-photo, #employment {
    margin-left: 0;
  }

  #history-container {
    flex-direction: column;
  }

  #education {
    margin-right: 0;
  }

  #projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }

  .project-image {
    height: 15rem;
    width: 20rem;
    margin-bottom: 2rem;
  }

  #projects-body {
    padding-bottom: 45rem;
  }
}
